/NTierArchitecture/ItEmperor.NTierArchitecture.Api/obj
/NTierArchitecture/ItEmperorNTierArchitecture.DalLayer/obj
/NTierArchitecture/ItEmperorNTierArchitecture.DalLayer/bin
/NTierArchitecture/ItEmperorNTierArchitecture.DomainLayer/obj
/NTierArchitecture/ItEmperorNTierArchitecture.DomainLayer/bin
/NTierArchitecture/ItEmperorNTierArchitecture.ReadModel/obj
/NTierArchitecture/ItEmperorNTierArchitecture.ReadModel/bin
/NTierArchitecture/ItEmperor.NTierArchitecture.Api/bin
/NTierArchitecture/ItEmperorNTierArchitecture.ReadModelAbstraction/obj
/NTierArchitecture/ItEmperorNTierArchitecture.ReadModelAbstraction/bin
/ItEmperor.PortsAndAdapters.Api/bin
/ItEmperor.PortsAndAdapters.Api/obj
/ItEmperor.PortsAndAdapters.DalLayer/obj
/ItEmperor.PortsAndAdapters.DalLayer/bin
/ItEmperor.PortsAndAdapters.Domain/obj
/ItEmperor.PortsAndAdapters.Domain/bin
/ItEmperor.PortsAndAdapters.ReadModelAbstraction/obj
/ItEmperor.PortsAndAdapters.ReadModelAbstraction/bin
